*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


/*INDEX CSS*/



main{
    background-image: url(../img/Index/fondoIndex.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    /* filter:drop-shadow(8px 8px 8px ); */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.tittleIndex{
    margin-right: 50%;
    margin-left: 10%;
}

.tittleIndex p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(169, 166, 166);
    font-size: 15px;
    text-align: center;
}


/*NOSOTROS CSS*/

.mainNosotros{
    background-image: url(/img/Nosotros/fondoNosotros.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.infoNosotros{
    margin-left: 50%;
    margin-right: 8%;
    text-align: right;
}

.tittleNosotros{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: 100px;
    text-align: start;
}

.parrafoNormi{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    text-align: right;
}



 

/*SHOP CSS*/

.mainShop{
    background-image: url(../img/Shop/fondoShop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cardProduct{
    
    overflow-y: scroll;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.black{
    color:black;
}

/*CONTACTO CSS*/

.mainContacto{
    background-image: url(../img/Contacto/fondoContacto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


fieldset{
    margin-left: 20%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*CARRITO CSS*/

.mainCarrito{
    background-image: url(../img/Carrito/fondoCarrito.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mainCarrito .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .btn:hover::after{
    content: 'Total: $xxdxx';
}

.container .btn:hover::before{
    content: 'P   A   G   A   R';
}


.table-hover{
    background-color: rgba(240, 248, 255, 0.689);
    text-align: center;    
}



/* MEDIA QUERIES */